body{
    background: yellowgreen;
    color: #fff;
;
}

p {
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
}

.header{
    background: blue;
    color: #fff;
    font-size: larger;
}

.header2 {
    background-color: blueviolet;
    color: cornflowerblue;
    font-style: italic;
    font-size: large;
}